.colored-line {
  position: relative;
  width: 100%;
  height: 5px;

  border-radius: 0px 0px 5px 5px;

  &.red {
    background-color: #eb5757;
  }

  &.yellow {
    background-color: #f2c94c;
  }

  &.green {
    background-color: #27ae60;
  }

  &.blue {
    background-color: #2f80ed;
  }
}
