// Login block
.login {
  display: flex;
  flex-direction: column;

  width: 350px;
  // height: 250px;

  padding: 20px;
  padding-top: 28px;
  padding-bottom: 26px;

  background: #f2f2f2;
  border-radius: 5px;

  // Block Header
  & > h2 {
    position: relative;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  // Block Form
  & > form {
    display: flex;
    flex-direction: column;

    margin-top: 10px;

    // Input blocks: Login and Password
    & > div.form-group {
      display: flex;
      flex-direction: column;

      &.errors {
        color: red;
      }

      label {
        position: relative;
        left: 5px;

        margin: 1%;

        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;

        color: #828282;
      }

      input {
        height: 38px;

        outline: none;
        border: none;

        background: #e0e0e0;
      }

      // Form validation status block
      div.status {
        position: relative;
        bottom: 5px;

        height: 5px;
        border-radius: 0px 0px 5px 5px;

        &.status-none {
          background: none;
        }

        &.status-default {
          background: #c4c4c4;
        }

        &.status-warning {
          background: #eb5757;
        }
      }

      & > input[type="text"],
      & > input[type="password"] {
        padding-left: 8px;
      }
    }

    // Login and Registration buttons
    .buttons {
      display: flex;
      flex-direction: row;
      align-self: flex-end;

      position: relative;
      margin-top: 22px;

      .reg-btn {
        position: relative;
        right: 15px;

        border: none;

        color: #2f80ed;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-decoration: underline;

        cursor: pointer;

        &:hover {
          color: #85b0e7;
        }
      }

      .login-btn {
        width: 124px;
        height: 30px;

        border: none;

        color: white;

        background: #2f80ed;
        border-radius: 5px;

        cursor: pointer;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        &:hover {
          filter: drop-shadow(1px 0px 2px #2f80ed);
        }

        &:disabled {
          background-color: #85b9ff;
          &:hover {
            filter: none;
          }
        }
      }
    }
  }

  // Common Fornts
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
