<div class="login">
  <h2>Login</h2>
  <form action="#">
    <div>
      <label for="login">login</label>
      <input type="text" value="Done Joe" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" value="**********" />
    </div>

    <div class="buttons">
      <button type="button" class="reg-btn" routerLink="/registration">
        Registration
      </button>
      <button type="submit" class="login-btn">Login</button>
    </div>
  </form>
</div>
