<div class="video-card">
  <div class="return">
    <button (click)="onReturn()">
      <img src="../../../assets/button-arrow-return.svg" />
    </button>
  </div>
  <div class="blocks-group">
    <div class="player">
      <img [src]="searchItem?.image" />
    </div>

    <div class="details">
      <div class="heading">
        <h2>{{ searchItem?.name }}</h2>
        <p>{{ searchItem?.date | date: "fullDate" }}</p>
      </div>

      <div class="description" *ngIf="searchItem?.description">
        <h4>Description:</h4>
        <p>{{ searchItem?.description | paragraphFormat: 1 }}</p>
      </div>

      <div class="stats">
        <app-video-stats [searchItem]="searchItem"></app-video-stats>
      </div>
    </div>
  </div>
</div>
