* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.header {
  flex-direction: column;

  background: #e5e5e5;

  div.main {
    position: relative;
    flex-grow: 1;
    align-items: center;

    margin-top: 1%;
    margin-bottom: 1%;

    .logo {
      display: flex;
      justify-content: right;

      flex-grow: 2;

      img {
        position: relative;
        right: 2%;
        cursor: pointer;
      }
    }

    .search {
      flex-grow: 1;

      form {
        display: flex;
        min-height: 26px;
        justify-content: space-around;

        input#search {
          flex-grow: 1;

          background: #efefef;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button.submit {
          flex-grow: 1;
          max-width: 80px;

          border: none;
          border-radius: 0px 4px 4px 0px;

          background-color: #2f80ed;
          color: white;

          cursor: pointer;

          &:hover {
            filter: drop-shadow(1px 0px 2px #2f80ed);
          }

          &:disabled {
            background-color: #5ea2ff;

            &:hover {
              filter: none;
            }
          }
        }

        div {
          position: relative;

          display: flex;
          align-items: center;

          left: 2%;

          button#search-settings {
            position: relative;

            display: flex;
            align-items: center;

            padding: 0;

            cursor: pointer;

            border: none;

            &:hover img {
              filter: drop-shadow(1px 0px 2px #2f80ed);
            }
          }
        }
      }
    }

    .login {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-grow: 2;

      p {
        padding-right: 1%;
      }

      button {
        display: flex;

        background: none;
        border: none;

        cursor: pointer;
      }
    }
  }

  div.search-settings {
    position: relative;

    display: flex;
    justify-content: center;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;

    width: 100%;

    position: relative;

    & > * {
      align-self: center;
      margin-right: 1%;
    }

    & > p {
      color: #929292;
    }

    & button {
      border: none;
      background-color: transparent;

      cursor: pointer;

      text-decoration: underline;
      color: #2f80ed;
    }

    & input {
      align-self: center;
      border: none;
      outline: none;
    }
  }
}
