<div class="card">
  <div class="image">
    <img [src]="searchItem?.image" />
  </div>
  <div class="stats">
    <div>
      <img src="../../../assets/viewed.svg" />
      <p>{{ searchItem?.views }}</p>
    </div>
    <div>
      <img src="../../../assets/liked.svg" />
      <p>{{ searchItem?.likes }}</p>
    </div>
    <div>
      <img src="../../../assets/dislike.svg" />
      <p>{{ searchItem?.dislikes }}</p>
    </div>
    <div>
      <img src="../../../assets/comments.svg" />
      <p>{{ searchItem?.comments }}</p>
    </div>
  </div>
  <div class="name">{{ searchItem?.name }}</div>
  <div class="btn-more">
    <button [routerLink]="[id]">more...</button>
  </div>
  <div class="colored-line"></div>
</div>
