<div class="card">
  <div class="image">
    <img src="https://picsum.photos/640/480" />
  </div>
  <div class="stats">
    <div>
      <img src="../../../assets/viewed.svg" />
      <p>100</p>
    </div>
    <div>
      <img src="../../../assets/liked.svg" />
      <p>200</p>
    </div>
    <div>
      <img src="../../../assets/dislike.svg" />
      <p>100</p>
    </div>
    <div>
      <img src="../../../assets/comments.svg" />
      <p>130</p>
    </div>
  </div>
  <div class="name">Video Name</div>
  <div class="btn-more">
    <button>more...</button>
  </div>
  <div class="colored-line"></div>
</div>
