<div class="row filtering-criteria">
  <p>Sorting by:</p>
  <button
    routerLink="/results"
    (click)="sortByDateAsc = !sortByDateAsc"
    [queryParams]="{ searchBy: 'date', asc: sortByDateAsc }"
  >
    date
  </button>
  <button routerLink="/results" [queryParams]="{ searchBy: 'views' }">
    count of views
  </button>
  <div>
    <button
      routerLink="/results"
      [queryParams]="{ searchBy: 'string', value: sortByWordOrSentenceValue }"
    >
      by word or sentence
    </button>
    <input type="text" [(ngModel)]="sortByWordOrSentenceValue" />
  </div>
</div>
