<div class="registration">
  <h2>Registration</h2>
  <form>
    <div>
      <label for="">First Name</label>
      <div class="input">
        <input type="text" value="RandomName" />
        <div class="status status-default"></div>
      </div>
    </div>
    <div>
      <label for="">Last Name</label>
      <div class="input">
        <input type="text" />
        <div class="status status-warning"></div>
      </div>
    </div>
    <div>
      <label for="">mail</label>
      <div class="input">
        <input type="email" value="test@email.com" />
        <div class="status status-default"></div>
      </div>
    </div>
    <div>
      <label for="">password</label>
      <div class="input">
        <input type="password" />
        <div class="status status-warning"></div>
      </div>
    </div>

    <div class="buttons">
      <button routerLink="/login" class="login-btn">Login</button>
      <button type="submit" class="submit">Registration</button>
    </div>
  </form>
</div>
