<div class="registration">
  <h2>Registration</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">First Name</label>
      <div class="input">
        <input type="text" name="firstName" formControlName="firstName" />
        <div
          class="status"
          [ngClass]="{
            'status-warning':
              !form.get('firstName')?.valid && form.get('firstName')?.touched
          }"
        ></div>
      </div>
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <div class="input">
        <input type="text" name="lastName" formControlName="lastName" />
        <div
          class="status"
          [ngClass]="{
            'status-warning':
              !form.get('lastName')?.valid && form.get('lastName')?.touched
          }"
        ></div>
      </div>
    </div>
    <div>
      <label for="email">mail</label>
      <div class="input">
        <input type="email" name="email" formControlName="email" />
        <div
          class="status"
          [ngClass]="{
            'status-warning':
              !form.get('email')?.valid && form.get('email')?.touched
          }"
        ></div>
      </div>
    </div>
    <div>
      <label for="password">password</label>
      <div class="input">
        <input type="password" name="password" formControlName="password" />
        <div
          class="status"
          [ngClass]="{
            'status-warning':
              !form.get('password')?.valid && form.get('password')?.touched
          }"
        ></div>
      </div>
    </div>

    <div class="buttons">
      <button routerLink="/login" class="login-btn">Login</button>
      <button type="submit" class="submit" [disabled]="!form.valid">
        Registration
      </button>
    </div>
  </form>
</div>
